* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/*Assigned selector to <header> element*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}
/*selector changed from element to id, removed unnecessary parent element*/
#seo {
    color: #d9dcd6;
}
/*header div replaced with <nav> element, selector assigned to <nav> element*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*removed unnecessary parent element from selectors*/
ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/*increased font-size from 16px to 18px*/
p {
    font-size: 18px;
}
/*changed class to id for marketing image*/
#meeting {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/*Removed class, assigned selector to <main> element*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Removed class, merged repeating code for main articles, assigned selector to <article> element*/
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Removed class, merged repeating code for article images, assigned selector to article img*/
article img {
    max-height: 200px;
}
/*Removed class, merged repeating code for article headings, moved selector from <article> to <h2> element*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Removed class, assigned selector to <aside> element*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*merged repeating code for sections, assigned selector to aside section*/
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Removed class, merged repeating code for section headings, assigned selector to <h3> element*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Removed class, merged repeating code for section images, assigned selector to <section> img*/
section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Removed class, assigned selector to <footer> element*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Changed h2 to h4 in accordance with acceptance criteria*/
h4 {
    font-size: 20px;
}
